<div class="layui-fluid cards-page">
    <div class = "layui-card">
        <div class="layui-card-header">所有卡</div> 
        <div class="layui-card-body">
            <!-- 搜索表单 -->
            <form class="layui-form layui-form-pane" lay-filter="cardsSearchForm">
                <div class="layui-form-item">
                    <!-- <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div> -->
                    <div class="layui-inline">
                        <label class="layui-form-label">卡号后四位</label>
                        <div class="layui-input-inline">
                            <input type="text" name="card_last_digits" placeholder="请输入卡号后四位" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">平台</label>
                        <div class="layui-input-inline">
                            <select name="version">
                                <option value="">全部</option>
                                <option value="J1">J1</option>
                                <option value="J2">J2</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用卡人</label>
                        <div class="layui-input-inline">
                            <select name="card_holder_id" id="card_holder_select">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <!-- 搜索 重置 -->
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit lay-filter="formSearch">
                            <i class="layui-icon layui-icon-search"></i> 搜索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <i class="layui-icon layui-icon-refresh"></i> 重置
                        </button>
                    </div>
                </div>
            </form>

             <!-- 表格工具栏 -->
             <script type="text/html" id="toolbar_card_list">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add_card">
                        <i class="layui-icon">&#xe654;</i> 开卡
                    </button>
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="wallet_balance">
                        <i class="layui-icon">&#xe659;</i> 查看余额
                    </button>
                </div>
            </script>

            <!-- 表格容器 -->
            <div class="table-container">
                <table id="cards-table" lay-filter="cards-table"></table>
            </div>

            <!-- 表格工具栏 -->
            <script type="text/html" id="toolbar_cards">
            {% raw %}
                <div class="layui-btn-container">
                    <div class="layui-table-tool-self">
                        <div class="layui-inline" title="筛选列" lay-event="LAYTABLE_COLS">
                            <i class="layui-icon layui-icon-cols"></i>
                        </div>
                        <div class="layui-inline" title="导出" lay-event="LAYTABLE_EXPORT">
                            <i class="layui-icon layui-icon-export"></i>
                        </div>
                    </div>
                </div>
            {% endraw %}
            </script>

            <!-- 行工具栏 -->
            <script type="text/html" id="card_barTool">
            {% raw %}
                <div class="layui-table-col-special">
                    <div class="card-operations">
                        {{# if(d.cards_status === 'CANCELLED'){ }}
                        <!-- 销卡状态只显示详情按钮 -->
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
                        </div>
                        {{# } else if(d.cards_status === 'FROZEN'){ }}
                        <!-- 冻结状态显示详情、解冻、销卡按钮 -->
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
                        </div>
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="unfreeze">解冻</a>
                        </div>
                        <!-- <div class="operation-row">
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancel">销卡</a>
                        </div> -->
                        {{# } else if(d.cards_status === 'ACTIVE'){ }}
                        <!-- 冻结状态显示详情、解冻、销卡按钮 -->
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
                            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit_nickname">编辑昵称</a>
                        </div>
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="modify">调额</a>
                            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="set_limit">设置限额</a>
                        </div>
                        <div class="operation-row-key">
                            <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancel">销卡</a>
                            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="freeze">冻结</a>
                        </div>
                        {{# } else { }}
                        <!-- 其他状态显示所有按钮 -->
                        <div class="operation-row">
                            <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
                        </div>
                        {{# } }}
                    </div>
                </div>
                
            {% endraw %}
            </script>
        </div>
    </div>

    <!-- 保存后端传递的数据 -->
    <script id="cards-data" type="text/html">
        {{ cards_all_info|tojson|safe }}
    </script>
    <script id="card-holders-data" type="application/json">
        {{ card_holders|tojson|safe }}
    </script>
    <script id="wallet_balance-data" type="application/json">
        {{ wallet_balance|tojson|safe }}
    </script>
</div>

<!-- 引入用卡人CSS和JS -->
<link rel="stylesheet" href="/static/css/cards.css">
<script src="/static/js/cards.js"></script> 